@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.HeaderList{
  display: flex;
  gap: 12px;
}
.HeaderList li{
  width: 86px;
  height: 45px;
  padding: 9px 16px;
  gap: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color :#212121;
  
}
.GetInTouchBtn{
  width: 194px;
  height: 60px;
  border-radius: 50px;
  padding: 17px 40px;
  background-color: #5556D1;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.TechevolationSection{
  padding-top: 20px;
  background: linear-gradient(90deg, rgba(85, 86, 209, 0.3) 0%, rgba(255, 255, 255, 0.3) 70%, rgba(85, 86, 209, 0.3) 99.5%);

}
.input-container {
  position: relative;
  display: inline-block;
  width: 300px;
  border: 1px solid #2A2A2A;
  display: flex;
  align-items: center;
justify-content: center;
  padding: 8px;
  border-radius: 30px;
 
}



.input-container .search-btn {

  width: 144px;
  height: 44px;
  border: none;

  background: #5556D1;

  color: white;

  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
}


.OpenPositionSection{
  background: #F7F9FC;

}
.JobOpeningCard{
  padding: 24.66px 39.93px 24.66px 39.93px;
  gap: 28.19px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #FFFFFF;
border: 1px solid #5556D11A;
margin-top: 30px;
}
.FullTime{

gap: 9.4px;
opacity: 0px;

}
.title{


text-align: left;


}

.location{
  width: Hug (165.58px)px;
height: Hug (37.79px)px;
padding: 9.4px 18.79px 9.4px 18.79px;
gap: 9.4px;
border-radius: 34.06px;
opacity: 0px;
border: 1.17px solid #090808;
line-height: 19.27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #090808;


}
.type{
  width: Hug (102.58px)px;
height: Hug (37.79px)px;
padding: 9.4px 18.79px 9.4px 18.79px;
gap: 9.4px;
border-radius: 34.06px;
opacity: 0px;
border: 1.17px solid #090808;
line-height: 19.27px;
text-align: left;
color: #090808;

}
.description{

  color: #090808;
    

}
.descsection{
gap: 18.79px;
opacity: 0px;

}
.btnSection{
display: flex;
justify-content: end !important;
}
.ApplyBtn{
  padding: 14.09px 18.79px 14.09px 18.79px;
  border-radius: 34.06px;
  background: #5556D1;
  color: #FFFFFF;
  opacity: 0px;
  line-height: 22.02px;
    
}

.JobCard_1{
  background: linear-gradient(90deg, #272868 0%, #5556D1 100%);
border-radius: 8px;
color: #fff;
position: relative;
}
.JobCard_1Img{
  position: absolute;
  bottom: 0;
  right: 0;
}
.JobCard_2{
  background: linear-gradient(90deg, rgba(39, 40, 104, 0.1) 0%, rgba(85, 86, 209, 0.1) 100%);
border-radius: 8px;
color: #212121;
position: relative;
}
.JobCard_3{
  background: linear-gradient(90deg, rgba(39, 40, 104, 0.1) 0%, rgba(85, 86, 209, 0.1) 100%);
border-radius: 8px;
color: #212121;
position: relative;
}


.footer{

background: #0C0F18;

}
.FooterTopSec{
border-radius: 30px;
opacity: 0px;

}
.footerImg{
  border-radius: 30px;
}
.FooterCard{
  border-radius: 30px;
  background: linear-gradient(90deg, #35369E 23%, rgba(85, 86, 209, 0) 100%);
  width: Fill (1,780px)px;
  height: Hug (356px)px;
  padding: 70px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  
}
.ContentText{
  width: Fixed (994px)px;
height: Hug (216px)px;
gap: 0px;

opacity: 0px;
}
.ImgHeadlines{
  font-family: Raleway;
font-size: 42px;
font-weight: 700;
line-height: 49.31px;
letter-spacing: 0.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.Imagedes{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.StartBtn{
  width: Hug (218px)px;
height: Hug (59px)px;
padding: 16px 40px ;
gap: 10px;
border-radius: 50px ;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #FFFFFF

}



